@import './article-header.css';
@import './article-figure.css';
@import './colophon.css';
@import './byline.css';
@import './article-maintext.css';
@import './article__buttons.css';
body{
	width: 70%;
	margin: auto;
}
.mainArticle {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: ". teaser teaser teaser"
							"cover cover cover cover"
							"colophon colophon colophon colophon"
							"byline content content content";
}

